{%  extends 'master.html' %}

{%  block content %}
<h1>Products</h1>

 <form method="post"  enctype="multipart/form-data" action="{% url 'dashboard:products' %}">
   {% csrf_token %}
        {{form.search}}
       {% if form.search.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.search.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
      <span class="input-group-btn">
              <input type="submit" class="btn btn-primary btn-lg" value="Search"/>
      </span>
 </form>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">price</th>

    </tr>
  </thead>
  <tbody>
   {% for product in Products %}
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>

    </tr>
   {% endfor %}


  </tbody>
</table>


{% endblock %}