{%  extends 'master.html' %}

{%  block content %}

<h1>Users</h1>
 <form method="post"  enctype="multipart/form-data" action="{% url 'dashboard:users' %}">
   {% csrf_token %}
     <div class="col-lg-6">
    <div class="input-group">
        {{form.search}}
       {% if form.search.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.search.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
      <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Search"/>
      </span>
         </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 </form>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
        <th scope="col">Mail</th>

    </tr>
  </thead>
  <tbody>
   {% for user in Users %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
    </tr>
   {% endfor %}


  </tbody>
</table>

{% endblock %}